<%= form_with(model: product, class: "contents") do |form| %>


    <div class="my-5">
        <%= form.label :title %>
        <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <%= form.select :category, Category.all, :prompt => "Select One" %>

    <div class="my-5">
        <%= form.label :short_text %>
        <%= form.rich_text_area :short_text, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
        <%= form.label :youtube_url %>
        <%= form.text_field :youtube_url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
        <%= form.label :long_text %>
        <%= form.rich_text_area :long_text, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-400 text-white inline-block font-medium cursor-pointer" %>
    </div>

<% end %>
